@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --color-error:#B00020;
}
.userTheme{
    --color-background:#fafafa;
    --color-surface:#eeeeee;
    --color-primary:#43A047;
    --color-primary-hover:#ffa000;
    --color-light-primary:#66bb6b;
    --color-dark-primary:#2e7d33;
    --color-text-base:#37474f;
}
.adminTheme{
    --color-background:#fafafa;
    --color-surface:#eeeeee;
    --color-primary:#f57c00;
    --color-primary-hover:#ff9800;
    --color-light-primary:#ffad42;
    --color-dark-primary:#bb4d00;
    --color-text-base:#37474f;
}